._align-baseline    { vertical-align: baseline !important; } // Browser default
._align-top         { vertical-align: top !important; }
._align-middle      { vertical-align: middle !important; }
._align-bottom      { vertical-align: bottom !important; }
._align-text-bottom { vertical-align: text-bottom !important; }
._align-text-top    { vertical-align: text-top !important; }