//
// Border-radius
//

._circle {    border-radius: 50%;  }

._rounded {
  @include respond-property(border-radius, $border-radius);
}
._rounded-top {
  @include respond-property(border-top-left-radius, $border-radius);
  @include respond-property(border-top-right-radius, $border-radius);
}
._rounded-right {
  @include respond-property(border-top-right-radius, $border-radius);
  @include respond-property(border-bottom-right-radius, $border-radius);
}
._rounded-bottom {
  @include respond-property(border-bottom-right-radius, $border-radius);
  @include respond-property(border-bottom-left-radius, $border-radius);
}
._rounded-left {
  @include respond-property(border-top-left-radius, $border-radius);
  @include respond-property(border-bottom-left-radius, $border-radius);
}


//
// Border
//

@each $theme-color-name, $theme-color in $theme-colors {
  ._border-#{$theme-color-name} {
    border-color: $theme-color;
  }
}