//
// Utilities for common `display` values
//

@each $breakpoint in map-keys($grid-breakpoints) {
  @include respond-up($breakpoint) {
    $breakpoint-prefix: breakpoint-prefix($breakpoint);

    ._#{$breakpoint-prefix}none         { display: none !important; }
    ._#{$breakpoint-prefix}inline       { display: inline !important; }
    ._#{$breakpoint-prefix}inline-block { display: inline-block !important; }
    ._#{$breakpoint-prefix}block        { display: block !important; }
    ._#{$breakpoint-prefix}table        { display: table !important; }
    ._#{$breakpoint-prefix}table-cell   { display: table-cell !important; }
    ._#{$breakpoint-prefix}flex         { display: flex !important; }
    ._#{$breakpoint-prefix}inline-flex  { display: inline-flex !important; }
  }
}
