// Flex variation
//
// Custom styles for additional flex alignment options.

// Flex variation
//
// Custom styles for additional flex alignment options.

@each $breakpoint in map-keys($grid-breakpoints) {
  @include respond-up($breakpoint) {
    $breakpoint-prefix: breakpoint-prefix($breakpoint);

    ._#{$breakpoint-prefix}flex-row            { flex-direction: row !important; }
    ._#{$breakpoint-prefix}flex-column         { flex-direction: column !important; }
    ._#{$breakpoint-prefix}flex-row-reverse    { flex-direction: row-reverse !important; }
    ._#{$breakpoint-prefix}flex-column-reverse { flex-direction: column-reverse !important; }

    ._#{$breakpoint-prefix}flex-wrap         { flex-wrap: wrap !important; }
    ._#{$breakpoint-prefix}flex-nowrap       { flex-wrap: nowrap !important; }
    ._#{$breakpoint-prefix}flex-wrap-reverse { flex-wrap: wrap-reverse !important; }

    ._#{$breakpoint-prefix}flex-main-start   { justify-content: flex-start !important; }
    ._#{$breakpoint-prefix}flex-main-end     { justify-content: flex-end !important; }
    ._#{$breakpoint-prefix}flex-main-center  { justify-content: center !important; }
    ._#{$breakpoint-prefix}flex-main-between { justify-content: space-between !important; }
    ._#{$breakpoint-prefix}flex-main-around  { justify-content: space-around !important; }

    ._#{$breakpoint-prefix}flex-cross-start   { align-content: flex-start !important; }
    ._#{$breakpoint-prefix}flex-cross-end     { align-content: flex-end !important; }
    ._#{$breakpoint-prefix}flex-cross-center  { align-content: center !important; }
    ._#{$breakpoint-prefix}flex-cross-between { align-content: space-between !important; }
    ._#{$breakpoint-prefix}flex-cross-around  { align-content: space-around !important; }
    ._#{$breakpoint-prefix}flex-cross-stretch { align-content: stretch !important; }

    ._#{$breakpoint-prefix}flex-items-start    { align-items: flex-start !important; }
    ._#{$breakpoint-prefix}flex-items-end      { align-items: flex-end !important; }
    ._#{$breakpoint-prefix}flex-items-center   { align-items: center !important; }
    ._#{$breakpoint-prefix}flex-items-baseline { align-items: baseline !important; }
    ._#{$breakpoint-prefix}flex-items-stretch  { align-items: stretch !important; }

    ._#{$breakpoint-prefix}flex-self-auto     { align-self: auto !important; }
    ._#{$breakpoint-prefix}flex-self-start    { align-self: flex-start !important; }
    ._#{$breakpoint-prefix}flex-self-end      { align-self: flex-end !important; }
    ._#{$breakpoint-prefix}flex-self-center   { align-self: center !important; }
    ._#{$breakpoint-prefix}flex-self-baseline { align-self: baseline !important; }
    ._#{$breakpoint-prefix}flex-self-stretch  { align-self: stretch !important; }
  }
}
