@each $breakpoint in map-keys($grid-breakpoints) {
  @include respond-up($breakpoint) {
    $breakpoint-prefix: breakpoint-prefix($breakpoint);

    ._#{$breakpoint-prefix}float-left  { float: left !important; }
    ._#{$breakpoint-prefix}float-right { float: right !important; }
    ._#{$breakpoint-prefix}float-none  { float: none !important; }
  }
}
