// Margin and Padding

@each $breakpoint in map-keys($grid-breakpoints) {
  $breakpoint-prefix: breakpoint-prefix($breakpoint);

  @include respond-up($breakpoint) {
    @each $prop, $abbrev in (margin: m, padding: p) {
      @each $size, $length in $spacers {
        ._#{$breakpoint-prefix}#{$abbrev}t-#{$size} { #{$prop}-top:    $length !important; }
        ._#{$breakpoint-prefix}#{$abbrev}r-#{$size} { #{$prop}-right:  $length !important; }
        ._#{$breakpoint-prefix}#{$abbrev}b-#{$size} { #{$prop}-bottom: $length !important; }
        ._#{$breakpoint-prefix}#{$abbrev}l-#{$size} { #{$prop}-left:   $length !important; }
      }
    }

    @each $size, $length in $spacers {
      ._#{$breakpoint-prefix}compensate-mt-#{$size} { margin-top:    -#{$length} !important; }
      ._#{$breakpoint-prefix}compensate-mr-#{$size} { margin-right:  -#{$length} !important; }
      ._#{$breakpoint-prefix}compensate-mb-#{$size} { margin-bottom: -#{$length} !important; }
      ._#{$breakpoint-prefix}compensate-ml-#{$size} { margin-left:   -#{$length} !important; }
    }

    // Some special margin utils
    ._#{$breakpoint-prefix}m-auto  { margin:        auto !important; }
    ._#{$breakpoint-prefix}mt-auto { margin-top:    auto !important; }
    ._#{$breakpoint-prefix}mr-auto { margin-right:  auto !important; }
    ._#{$breakpoint-prefix}mb-auto { margin-bottom: auto !important; }
    ._#{$breakpoint-prefix}ml-auto { margin-left:   auto !important; }
    ._#{$breakpoint-prefix}mx-auto {
      margin-right: auto !important;
      margin-left:  auto !important;
    }
    ._#{$breakpoint-prefix}my-auto {
      margin-top:    auto !important;
      margin-bottom: auto !important;
    }
  }

  @each $prop, $abbrev in (margin: m, padding: p) {
    @each $size, $length in $spacers {
      ._#{$breakpoint-prefix}#{$abbrev}-#{$size}  {
        @extend ._#{$breakpoint-prefix}#{$abbrev}t-#{$size}, ._#{$breakpoint-prefix}#{$abbrev}r-#{$size}, ._#{$breakpoint-prefix}#{$abbrev}b-#{$size}, ._#{$breakpoint-prefix}#{$abbrev}l-#{$size};
      }

      ._#{$breakpoint-prefix}#{$abbrev}x-#{$size} {
        @extend ._#{$breakpoint-prefix}#{$abbrev}r-#{$size}, ._#{$breakpoint-prefix}#{$abbrev}l-#{$size};
      }

      ._#{$breakpoint-prefix}#{$abbrev}y-#{$size} {
        @extend ._#{$breakpoint-prefix}#{$abbrev}t-#{$size}, ._#{$breakpoint-prefix}#{$abbrev}b-#{$size};
      }
    }
  }

  @each $size, $length in $spacers {
    ._#{$breakpoint-prefix}compensate-m-#{$size}  {
      @extend ._#{$breakpoint-prefix}compensate-mt-#{$size}, ._#{$breakpoint-prefix}compensate-mr-#{$size}, ._#{$breakpoint-prefix}compensate-mb-#{$size}, ._#{$breakpoint-prefix}compensate-ml-#{$size};
    }

    ._#{$breakpoint-prefix}compensate-mx-#{$size} {
      @extend ._#{$breakpoint-prefix}compensate-mr-#{$size}, ._#{$breakpoint-prefix}compensate-ml-#{$size};
    }

    ._#{$breakpoint-prefix}compensate-my-#{$size} {
      @extend ._#{$breakpoint-prefix}compensate-mt-#{$size}, ._#{$breakpoint-prefix}compensate-mb-#{$size};
    }
  }
}
