//
// Text
//

//  alignment

._text-nowrap {  white-space: nowrap !important;  }

// Responsive alignment

@each $breakpoint in map-keys($grid-breakpoints) {
  @include respond-up($breakpoint) {
    $breakpoint-prefix: breakpoint-prefix($breakpoint);

    ._#{$breakpoint-prefix}text-justify { text-align: justify !important; }
    ._#{$breakpoint-prefix}text-left    { text-align: left !important; }
    ._#{$breakpoint-prefix}text-right   { text-align: right !important; }
    ._#{$breakpoint-prefix}text-center  { text-align: center !important; }
  }
}

// Transformation

._lowercase  {  text-transform: lowercase !important;  }
._uppercase  {  text-transform: uppercase !important;  }
._capitalize {  text-transform: capitalize !important;  }

// Style

._italic      {  font-style: italic !important;  }

// Weight

@each $breakpoint, $gutter in $grid-gutters {
  $breakpoint-prefix: breakpoint-prefix($breakpoint);

  @include respond-up($breakpoint) {
    ._#{$breakpoint-prefix}font-thin {
      font-weight: 100 !important;
    }
    ._#{$breakpoint-prefix}font-extra-light {
      font-weight: 200 !important;
    }
    ._#{$breakpoint-prefix}font-light {
      font-weight: 300 !important;
    }
    ._#{$breakpoint-prefix}font-regular {
      font-weight: 400 !important;
    }
    ._#{$breakpoint-prefix}font-medium {
      font-weight: 500 !important;
    }
    ._#{$breakpoint-prefix}font-semi-bold {
      font-weight: 600 !important;
    }
    ._#{$breakpoint-prefix}font-bold {
      font-weight: 700 !important;
    }
    ._#{$breakpoint-prefix}font-extra-bold {
      font-weight: 800 !important;
    }
    ._#{$breakpoint-prefix}font-black {
      font-weight: 900 !important;
    }
  }
}
// Contextual colors

@each $theme-color-name, $theme-color in $theme-colors {
  ._text-#{$theme-color-name} {
    color: $theme-color;
  }
}

// headings

h1,
._h1 {
  @include respond-property(font-size, $font-size-h1);
}

h2,
._h2 {
  @include respond-property(font-size, $font-size-h2);
}

h3,
._h3 {
  @include respond-property(font-size, $font-size-h3);
}

h4,
._h4 {
  @include respond-property(font-size, $font-size-h4);
}

h5,
._h5 {
  @include respond-property(font-size, $font-size-h5);
}

h6,
._h6 {
  @include respond-property(font-size, $font-size-h6);
}
