@import "../../../src/functions";
@import "../../../src/variables";
@import "custom";
@import "../../../src/mixins";
@import "../../../src/reboot";
@import "../../../src/container-gutters";
@import "../../../src/grid-gutters";
@import "../../../src/containers";
@import "../../../src/grid";
@import "../../../src/buttons";
@import "../../../src/utilities";

.example-revo {
  background-color: color(green);

  .example-revo__col {
    background: color(red);
  }

  .example-revo__subcol {
    background: color(blue);
  }
}

.example-1 {
  background-color: color(green);

  .example-1__col {
    background: color(blue);
  }
}

.example-2 {
  background-color: color(green);

  .example-2__col {
    background: color(blue);
  }
}

.example-3 {
  background-color: color(green);

  .example-3__col {
    background: color(blue);
  }
}

.example-4 {
  background-color: color(green);

  .example-4__col {
    background: color(blue);
  }
}

.example-5 {
  background-color: color(green);

  .example-5__col {
    background: color(blue);
  }
}

.example-6 {
  background-color: color(green);

  .example-6__col {
    background: color(blue);
  }
}





