@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $i: index($breakpoint-names, $name);
  @return if($i < length($breakpoint-names), nth($breakpoint-names, $i + 1), null);
}

@function breakpoint-prev($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $i: index($breakpoint-names, $name);
  @return if($i > 1, nth($breakpoint-names, $i - 1), null);
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $next: breakpoint-next($name, $breakpoints);
  @return if($next, breakpoint-min($next, $breakpoints) - 1px, null);
}

@function breakpoints-down($breakpoint, $breakpoints: $grid-breakpoints) {
  $list: ();

  @while $breakpoint != null {
    $list: append($list, $breakpoint);
    $breakpoint: breakpoint-prev($breakpoint);
  }

  @return $list;
}

@function breakpoints-up($breakpoint, $breakpoints: $grid-breakpoints) {
  $list: ();

  @while $breakpoint != null {
    $list: append($list, $breakpoint);
    $breakpoint: breakpoint-next($breakpoint);
  }

  @return $list;
}

@function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
  @return if(breakpoint-min($name, $breakpoints) == null, "", "_#{$name}");
}

@function breakpoint-prefix($name, $breakpoints: $grid-breakpoints) {
  @return if(breakpoint-min($name, $breakpoints) == null, "", "#{$name}-");
}

@function breakpoint-postfix($name, $breakpoints: $grid-breakpoints) {
  @return if(breakpoint-min($name, $breakpoints) == null, "", "-#{$name}");
}

@function grid-postfix($grid-columns, $grids: $grids-columns) {
  @return if(index($grids, $grid-columns) == 1, "", "-of-#{$grid-columns}");
}

@function last-available-breakpoint-value($map, $breakpoint) {
  $value: map-get($map, $breakpoint);

  @while $value == null {
    $breakpoint:  breakpoint-prev($breakpoint);
    $value: map-get($map, $breakpoint);
  }

  @return $value;
}

@function breakpoint-container-width($breakpoint-width, $gutter, $columns: nth($grids-columns, 1)) {
  @return floor(($breakpoint-width - $gutter * 2) / $columns) * $columns;
}

@mixin respond-up($breakpoint, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($breakpoint, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin respond-down($breakpoint, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($breakpoint, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin respond($breakpoint, $breakpoints: $grid-breakpoints) {
  @include respond-up($breakpoint) {
    @include  respond-down($breakpoint) {
      @content;
    }
  }
}

@mixin respond-property($property, $respond-value-map) {
  @if type-of($respond-value-map) == map {
    @each $breakpoint, $value in $respond-value-map {
      @include respond-up($breakpoint) {
        #{$property}: $value;
      }
    }
  } @else {
    #{$property}: $respond-value-map;
  }
}