@mixin transition ($property: all, $duration: .35s, $timing-function: $transition-timing-function) {
  $property-length: length($property);
  @if ($property-length == 1) {
    transition: $property $duration $timing-function;
  } @else if ($property-length == 2) {
    transition: nth($property, 1) $duration $timing-function, nth($property, 2) $duration $timing-function;
  } @else {
    transition-property: str-replace(#{$property}, ' ', ', ');
    transition-duration: $duration;
    transition-timing-function: $timing-function;
  }
}