a.btn {
  text-decoration: none;
}

.btn {
  display: inline-flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  text-align: center;
  vertical-align: middle;

  &:not(.btn_clean) {
    @include respond-property(padding, $btn-padding);
    @include respond-property(font-size, $btn-font-size);
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;

    user-select: none;
    cursor: pointer;
  }

  &.btn_rounded {
    @include respond-property(border-radius, $btn-border-radius);
  }

  &.btn_icon-left .btn__icon {
    margin-right: 4px;
  }

  &.btn_icon-right .btn__icon {
    margin-left: 4px;
  }

  @if $btn-safari-fix {
    .btn__inner-wrapper {
      flex: 1 0 auto;
      align-self: stretch;
      display: flex;
      flex-direction: inherit;
      justify-content: inherit;
      align-content: inherit;
      align-items: inherit;
      min-width: 100%;
      min-height: 100%;
    }
  }

  &.disabled,
  &:disabled {
    pointer-events: none;
  }
}
