@each $breakpoint, $container-gutter in $container-gutters {
  @include respond-up($breakpoint) {
    ._container-gutter-top {
      margin-top: #{$container-gutter};
    }

    ._container-gutter-right {
      margin-right: #{$container-gutter};
    }

    ._container-gutter-bottom {
      margin-bottom: #{$container-gutter};
    }

    ._container-gutter-left {
      margin-left: #{$container-gutter};
    }

    ._half-container-gutter-top {
      margin-top: #{$container-gutter * .5};
    }

    ._half-container-gutter-right {
      margin-right: #{$container-gutter * .5};
    }

    ._half-container-gutter-bottom {
      margin-bottom: #{$container-gutter * .5};
    }

    ._half-container-gutter-left {
      margin-left: #{$container-gutter * .5};
    }

    ._compensate-container-gutter-top {
      margin-top: -#{$container-gutter};
    }

    ._compensate-container-gutter-right {
      margin-right: -#{$container-gutter};
    }

    ._compensate-container-gutter-bottom {
      margin-bottom: -#{$container-gutter};
    }

    ._compensate-container-gutter-left {
      margin-left: -#{$container-gutter};
    }

    ._compensate-half-container-gutter-top {
      margin-top: -#{$container-gutter * .5};
    }

    ._compensate-half-container-gutter-right {
      margin-right: -#{$container-gutter * .5};
    }

    ._compensate-half-container-gutter-bottom {
      margin-bottom: -#{$container-gutter * .5};
    }

    ._compensate-half-container-gutter-left {
      margin-left: -#{$container-gutter * .5};
    }

    ._inner-container-gutter-top {
      padding-top: #{$container-gutter};
    }

    ._inner-container-gutter-right {
      padding-right: #{$container-gutter};
    }

    ._inner-container-gutter-bottom {
      padding-bottom: #{$container-gutter};
    }

    ._inner-container-gutter-left {
      padding-left: #{$container-gutter};
    }

    ._inner-half-container-gutter-top {
      padding-top: #{$container-gutter * .5};
    }

    ._inner-half-container-gutter-right {
      padding-right: #{$container-gutter * .5};
    }

    ._inner-half-container-gutter-bottom {
      padding-bottom: #{$container-gutter * .5};
    }

    ._inner-half-container-gutter-left {
      padding-left: #{$container-gutter * .5};
    }
  }
}

._container-gutters-x      {  @extend ._container-gutter-right, ._container-gutter-left;  }
._half-container-gutters-x {  @extend ._half-container-gutter-right, ._half-container-gutter-left;  }
._container-gutters-y      {  @extend ._container-gutter-top, ._container-gutter-bottom;  }
._half-container-gutters-y {  @extend ._half-container-gutter-top, ._half-container-gutter-bottom;  }
._container-gutters        {  @extend ._container-gutters-x, ._container-gutters-y;  }
._half-container-gutters   {  @extend ._half-container-gutters-x, ._half-container-gutters-y;  }

._inner-container-gutters-x      {  @extend ._inner-container-gutter-right, ._inner-container-gutter-left;  }
._inner-half-container-gutters-x {  @extend ._inner-half-container-gutter-right, ._inner-half-container-gutter-left;  }
._inner-container-gutters-y      {  @extend ._inner-container-gutter-top, ._inner-container-gutter-bottom;  }
._inner-half-container-gutters-y {  @extend ._inner-half-container-gutter-top, ._inner-half-container-gutter-bottom;  }
._inner-container-gutters        {  @extend ._inner-container-gutters-x, ._inner-container-gutters-y;  }
._inner-half-container-gutters   {  @extend ._inner-half-container-gutters-x, ._inner-half-container-gutters-y;  }

._compensate-container-gutters-x      {  @extend ._compensate-container-gutter-right, ._compensate-container-gutter-left;  }
._compensate-half-container-gutters-x {  @extend ._compensate-half-container-gutter-right, ._compensate-half-container-gutter-left;  }
._compensate-container-gutters-y      {  @extend ._compensate-container-gutter-top, ._compensate-container-gutter-bottom;  }
._compensate-half-container-gutters-y {  @extend ._compensate-half-container-gutter-top, ._compensate-half-container-gutter-bottom;  }
._compensate-container-gutters        {  @extend ._compensate-container-gutters-x, ._compensate-container-gutters-y;  }
._compensate-half-container-gutters   {  @extend ._compensate-half-container-gutters-x, ._compensate-half-container-gutters-y;  }
