.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;

  @each $breakpoint, $breakpoint-width in $grid-breakpoints {
    $grid-gutter: last-available-breakpoint-value($grid-gutters, $breakpoint);
    $container-gutter: last-available-breakpoint-value($container-gutters, $breakpoint);
    $container-width: breakpoint-container-width($breakpoint-width, $container-gutter);

    @include respond($breakpoint) {
      @if breakpoint-prev($breakpoint) == null {
        &:not(.container_fluid) {
          &:not(.grid),
          &.grid.grid_no-gutters {
            width: calc(100% - #{$container-gutter * 2});
          }
        }

        &.grid:not(.grid_no-gutters) {
          width: calc(100% - #{$container-gutter * 2} + #{$grid-gutter});
        }

      } @else {
        &:not(.container_fluid) {
          &:not(.grid),
          &.grid.grid_no-gutters {
            width: $container-width - $container-gutter * 2;
          }

          &.grid:not(.grid_no-gutters) {
            width: $container-width - $container-gutter * 2 + $grid-gutter;
          }
        }
      }
    }

    @if map-has-key($container-gutters, $breakpoint) or map-has-key($grid-gutters, $breakpoint)   {
      @include respond-up($breakpoint) {
        &.container_fluid {
          &.grid:not(.grid_no-gutters) {
            width: calc(100% - #{$container-gutter * 2} + #{$grid-gutter});
          }
        }
      }
    }

    @if map-has-key($container-gutters, $breakpoint) {
      @include respond-up($breakpoint) {
        &.container_fluid {
          &:not(.grid),
          &.grid.grid_no-gutters {
            width: calc(100% - #{$container-gutter * 2});
          }
        }
      }
    }
  }
}
