.grid {
  display: flex;
  flex-wrap: wrap;

  &.grid_no-gutters {
    width: 100%;
  }

  &:not(.grid_no-gutters) {
    @each $breakpoint, $gutter in $grid-gutters {
      @include respond-up($breakpoint) {
        width: calc(100% + #{$gutter});
      }
    }
  }

  &:not(.grid_no-gutters):not(.container):not(.col),
  &.grid_no-gutters > .col.grid:not(.grid_no-gutters) {
    @extend ._compensate-half-grid-gutters-x;
  }
}

.col {
  width: auto;
}

%col-auto {
  flex: 0 0 auto;
}

%width-100 {
  width: 100%;
}

%width-100-minus-gutter {
  @each $breakpoint, $breakpoint-width in $grid-breakpoints {
    $gutter: last-available-breakpoint-value($grid-gutters, $breakpoint);

    @include respond-up($breakpoint) {
      width: calc(100% - #{$gutter});
    }
  }
}

%width-100-plus-gutter {
  @each $breakpoint, $breakpoint-width in $grid-breakpoints {
    $gutter: last-available-breakpoint-value($grid-gutters, $breakpoint);

    @include respond-up($breakpoint) {
      width: calc(100% + #{$gutter});
    }
  }
}

*:not(.grid_no-gutters) > .col:not(.grid),
*:not(.grid_no-gutters) > .col.grid.grid_no-gutters {
  @extend ._half-grid-gutters-x;
}

@each $breakpoint, $breakpoint-width in $grid-breakpoints {
  $breakpoint-infix: breakpoint-infix($breakpoint);
  $breakpoint-prefix: breakpoint-prefix($breakpoint);
  $gutter: last-available-breakpoint-value($grid-gutters, $breakpoint);

  @include respond-up($breakpoint) {
    .col {
      @if breakpoint-prev($breakpoint) == null {
        &.col_#{$breakpoint-prefix}auto {
          width: auto;
        }
      } @else {
        &.col#{$breakpoint-infix},
        &.col_#{$breakpoint-prefix}auto {
          width: auto;
        }
      }

      &.col_#{$breakpoint-prefix}auto {
        flex-grow: 1;
        flex-basis: 0;
      }
    }

    @each $grid-columns in $grids-columns {
      $grid-postfix: grid-postfix($grid-columns);

      $inner-breakpoints: reverse(breakpoints-down($breakpoint, $grid-gutters));
      @each $inner-breakpoint in $inner-breakpoints {
        @if $inner-breakpoint != $breakpoint {
          $inner-breakpoint-prefix: breakpoint-prefix($inner-breakpoint);
          $inner-breakpoint-infix: breakpoint-infix($inner-breakpoint);

          @if breakpoint-prev($inner-breakpoint) {
            .col.col#{$inner-breakpoint-infix} {
              flex: 0 0 auto;
            }

            .col.col#{$inner-breakpoint-infix},
            .col.col#{$inner-breakpoint-infix}.grid:not(.grid_no-gutters),
            .grid.grid_no-gutters > .col.col#{$inner-breakpoint-infix} {
              width: auto;
            }
          } @else {
            .col {
              flex: 0 0 auto;
            }

            .col,
            .col.grid:not(.grid_no-gutters),
            .grid.grid_no-gutters > .col {
              width: auto;
            }
          }

          @for $i from 1 through $grid-columns {
            $col-width: 100% / $grid-columns * $i;

            .col.col_#{$inner-breakpoint-prefix}#{$i}#{$grid-postfix} {
              width: calc(#{$col-width} - #{$gutter});
            }

            .grid.grid_no-gutters > .col.col_#{$inner-breakpoint-prefix}#{$i}#{$grid-postfix},
            .grid:not(.grid_no-gutters) > .col.col_#{$inner-breakpoint-prefix}#{$i}#{$grid-postfix}.grid:not(.grid_no-gutters) {
              width: $col-width;
            }

            .grid.grid_no-gutters > .col.col_#{$inner-breakpoint-prefix}#{$i}#{$grid-postfix}.grid:not(.grid_no-gutters) {
              width: calc(#{$col-width} + #{$gutter});
            }
          }

          @for $i from 0 through $grid-columns {
            .grid:not(.grid_no-gutters) > .col.col_#{$inner-breakpoint-prefix}offset-#{$i}#{$grid-postfix} {
              margin-left: calc(#{percentage($i / $grid-columns)} + #{$gutter * .5}) !important;
            }
          }
        }
      }

      @for $i from 1 through $grid-columns {
        $col-width: 100% / $grid-columns * $i;

        .col.col_#{$breakpoint-prefix}#{$i}#{$grid-postfix} {
          width: calc(#{$col-width} - #{$gutter});
        }

        .grid:not(.grid_no-gutters) > .col.col_#{$breakpoint-prefix}#{$i}#{$grid-postfix}.grid:not(.grid_no-gutters),
        .grid.grid_no-gutters > .col.col_#{$breakpoint-prefix}#{$i}#{$grid-postfix} {
          width: $col-width;
        }

        .grid.grid_no-gutters > .col.col_#{$breakpoint-prefix}#{$i}#{$grid-postfix}.grid:not(.grid_no-gutters) {
          width: calc(#{$col-width} + #{$gutter});
        }
      }

      @if breakpoint-prev($breakpoint) {
        .col.col#{$breakpoint-infix} {
          flex: 0 0 auto;
        }

        .col.col#{$breakpoint-infix},
        .col.col#{$breakpoint-infix}.grid:not(.grid_no-gutters),
        .grid.grid_no-gutters > .col.col#{$breakpoint-infix} {
          width: auto;
        }
      } @else {
        .col {
          flex: 0 0 auto;
        }

        .col,
        .col.grid:not(.grid_no-gutters),
        .grid.grid_no-gutters > .col {
          width: auto;
        }
      }

      @for $i from 0 through $grid-columns {
        .col.col_#{$breakpoint-prefix}offset-#{$i}#{$grid-postfix},
        .grid:not(.grid_no-gutters) > .col.col_#{$breakpoint-prefix}offset-#{$i}#{$grid-postfix} {
          margin-left: calc(#{percentage($i / $grid-columns)} + #{$gutter * .5}) !important;
        }

        .grid.grid_no-gutters > .col.col_#{$breakpoint-prefix}offset-#{$i}#{$grid-postfix} {
          margin-left: calc(#{percentage($i / $grid-columns)}) !important;
        }
      }
    }

    @for $i from 1 through max($grids-columns...) {
      .col.col_#{$breakpoint-prefix}order-#{$i} {
        order: $i;
      }
    }
  }

  @if breakpoint-prev($breakpoint) {
    .col {
      &.col#{$breakpoint-infix},
      &.col_#{$breakpoint-prefix}auto {
        @extend %width-100-minus-gutter;
      }
    }

    .grid.grid_no-gutters > .col.col#{$breakpoint-infix},
    .grid.grid_no-gutters > .col.col_#{$breakpoint-prefix}auto {
      @extend %width-100;
    }
  }

  @each $grid-columns in $grids-columns {
    $grid-postfix: grid-postfix($grid-columns);

    @for $i from 1 through $grid-columns {
      .col.col_#{$breakpoint-prefix}#{$i}#{$grid-postfix} {
        @extend %col-auto, %width-100-minus-gutter;
      }

      .grid.grid_no-gutters > .col.col_#{$breakpoint-prefix}#{$i}#{$grid-postfix},
      .grid:not(.grid_no-gutters) > .col.col_#{$breakpoint-prefix}#{$i}#{$grid-postfix}.grid:not(.grid_no-gutters) {
        @extend %width-100;
      }

      .grid.grid_no-gutters > .col.col_#{$breakpoint-prefix}#{$i}#{$grid-postfix}.grid:not(.grid_no-gutters) {
        @extend %width-100-plus-gutter;
      }
    }
  }
}