// Variables
//
// Copy settings from this file into the provided `_custom.scss` to override
// the Bootstrap defaults without modifying key, versioned files.


// Table of Contents
//
// Colors
// Options
// Spacing
// Body
// Links
// Grid breakpoints
// Grid columns
// Fonts
// Components
// Tables
// Buttons
// Z-index master list
// Figures
// Code

// Colors

$colors: (
        "blue": #0000FF,
        "white": #fff,
        "black": #000,
        "transparent": transparent
) !default;

$theme-colors: (
        "primary":           color("blue"),
        "black":             color("black"),
        "black-transparent": transparentize(color("black"), .5),
        "white":             color("white"),
        "white-transparent": transparentize(color("white"), .5),
        "transparent":       color("transparent")
);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacers: (
        0: 0,
        4: 4px,
        8: 8px,
        16: 16px,
        32: 32px,
        64: 64px,
        128: 128px
) !default;

// Body
//
// Settings for the `<body>` element.

$body-bg:    color("white") !default;
$body-color: color("black") !default;


// Links
//
// Style anchor elements.

$link-color:            color("blue") !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: none !default;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
        xxs: 0,
        xs: 480px,
        sm: 768px,
        md: 992px,
        lg: 1200px,
        xl: 1600px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grids-columns: 12, 10 !default;

$grid-gutters: (
        xxs: 16px,
        sm: 24px,
        xl: 32px
) !default;

$container-gutters: (
        xxs: 16px,
        sm: 24px,
        xl: 32px
) !default;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

$font-size: (
        xxs: .75rem,
        xs: .875rem,
        sm: 1rem,
        md: 1.25rem
) !default;
$font-weight: (
        xxs: 400
) !default;
$line-height: (
        xxs: 1.5
) !default;

$font-size-h1: (
        xxs: 2.5rem
)  !default;
$font-size-h2: (
        xxs: 2rem
) !default;
$font-size-h3: (
        xxs: 1.75rem
) !default;
$font-size-h4: (
        xxs: 1.5rem
) !default;
$font-size-h5: (
        xxs: 1.25rem
) !default;
$font-size-h6: (
        xxs: 1rem
) !default;


$headings-margin-bottom: (
        xxs: .5em
) !default;
$headings-font-family: inherit !default;
$headings-font-weight: (
        xxs: 500
) !default;
$headings-line-height: (
        xxs: 1.1
) !default;
$headings-color: inherit !default;

$hr-border-color: rgba(color("black"),.1) !default;
$hr-border-width: 1px !default;

// Components
//
// Define common padding and border radius sizes and more.

$border-width: 1px !default;

$border-radius: (
        xxs: .25rem
) !default;

$transition-duration:         .35s !default;
$transition-timing-function:  ease !default;

// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-font-size: (
        xxs: 14px,
        xs: 16px,
) !default;

$btn-padding: (
        xxs: 8px 16px
) !default;

$btn-line-height: 1.25 !default;
$btn-font-weight: 400 !default;

$btn-disabled-color: lighten(color("blue"), 20%) !default;
$btn-disabled-bg: lighten(color("blue"), 20%) !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: (
        xxs: 2px
) !default;

$btn-safari-fix: false !default;


// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$z-index: (
        fixed: 1000
) !default;

// Figures

$figure-caption-font-size: 90% !default;
$figure-caption-color:     lighten(color("black"), 40%) !default;
